{% extends "layout.html" %}

{% block body %}

    <div class="container text">
        <main>
            <div class="row">
                <div class="col-md-8">
                    <br>
                    <p class="main-info">
                        <strong>{{ current.condition.text }}</strong>
                        <img src="https:{{ current.condition.icon }}" alt="{{ current.condition.text }}">
                    </p>
                    <p class="main-info">{{ current.temp_c }}°C ({{ current.temp_f }}°F)</p>
                    <p id="temp-subtext">
                        Feels like: {{ current.feelslike_c }}°C ({{ current.feelslike_f }}°F)
                    </p>
                    <p id="subtext">Last updated {{ current.last_updated | dt_full }}</p>
                </div>
                <div class="col-md-4 rounded" id="location">
                    <h2 id="location-text">Location</h2>
                    <br>
                    <p class="location-paragraph"><strong>Name:</strong> {{ location.name }}</p>
                    <p class="location-paragraph"><strong>Region:</strong> {{ location.region }}</p>
                    <p class="location-paragraph"><strong>Country:</strong> {{ location.country }}</p>
                    <p class="location-paragraph"><strong>Timezone:</strong> {{ location.tz_id }}</p>
                    <p class="location-paragraph"><strong>Localtime:</strong> {{ location.localtime | dt_time }}</p>
                </div>
            </div>
            <br><br>
            <div class="container d-flex justify-content-center">
                <div class="additional-info-item">
                    <h3 class="additional-info-head">Wind</h3>
                    <br>
                    <p class="additional-info-text">{{ current.wind_kph }} kph ({{ current.wind_mph }} mph)</p>
                    <p class="additional-info-text">{{ current.wind_degree }}º {{ current.wind_dir }}</p>
                    <p class="additional-info-text">Gust: {{ current.gust_kph }} kph ({{ current.gust_mph }} mph)</p>
                </div>
                <div class="additional-info-item">
                    <h3 class="additional-info-head">Pressure</h3>
                    <br>
                    <p class="additional-info-text">{{ current.pressure_mb }} mb ({{ current.pressure_in}} in)</p>
                </div>
                <div class="additional-info-item">
                    <h3 class="additional-info-head">Precipitation</h3>
                    <br>
                    <p class="additional-info-text">{{ current.precip_mm }} mm ({{ current.precip_in }} in)</p>
                </div>
                <div class="additional-info-item">
                    <h3 class="additional-info-head">Humidity</h3>
                    <br>
                    <p class="additional-info-text">{{ current.humidity }}%</p>
                </div>
                <div class="additional-info-item">
                    <h3 class="additional-info-head">UV Index</h3>
                    <br>
                    <p class="additional-info-text">{{ current.uv }}</p>
                </div>
            </div>
        </main>
    </div>
    <div class="container alerts">
        {% if alerts %}
            <h1>Alerts</h1>
            <br>
        {% endif %}
        {% for alert in alerts %}
            {% if alert.severity == "Severe" %}
                <div class="alert-div severe">
            {% else %}
                <div class="alert-div">
            {% endif %}
                <h3>{{ alert.headline }}</h3>
                <p>{{ alert.event }}</p>
                <br>
                <p>{{ alert.desc }}</p>
                <p>{{ alert.instruction }}</p>
                <p><strong>Areas affected:</strong> {{ alert.areas }}</p>
                <p>{{ alert.note }}</p>
                <div class="container d-flex justify-content-between">
                    <p><strong>Severity:</strong> {{ alert.severity }}</p>
                    <p><strong>Urgency:</strong> {{ alert.urgency }}</p>
                    <p><strong>Certainty:</strong> {{ alert.certainty }}</p>
                </div>
            </div>
        {% endfor %}
        <br><br>
        <h3>Select a date below to get more detailed information about the weather:</h3>
        <br>
    </div>
    <div class="container d-flex justify-content-center text">
        {% for forecast in forecasts %}
            <div class="forecast-card" data-forecast-index="{{ loop.index }}" onclick="showForecast(this)">
                <h3>{{ forecast.date | dt_date }}</h3>
            </div>   
        {% endfor %}
    </div>
    <div class="forecast-content">
        {% for forecast in forecasts %}
            <div class="forecast-details" id="forecast-{{ loop.index }}" style="display: none;">
                <h1>Extra information for {{ forecast.date | dt_date }}</h1>
                <br><br>
                <div class="text">
                    <div class="container d-flex justify-content-center">
                        <div class="mr-auto p2">
                            <h3>Temperature</h3>
                            <p><strong>Max:</strong> {{ forecast.day.maxtemp_c }} °C ({{ forecast.day.maxtemp_f }} °F)</p>
                            <p><strong>Min:</strong> {{ forecast.day.mintemp_c }}°C {{ forecast.day.mintemp_f }}°F</p>
                            <p><strong>Average:</strong> {{ forecast.day.avgtemp_c }}°C {{ forecast.day.avgtemp_f }}°F</p>
                            <br>
                            <p><strong>Max Wind Speed:</strong> {{ forecast.day.maxwind_mph }} mph ({{ forecast.day.maxwind_kph }} kph)</p>
                            <p><strong>Chance of Rain:</strong> {{ forecast.day.daily_chance_of_rain }}%</p>
                            <p><strong>Chance of Snow:</strong> {{ forecast.day.daily_chance_of_snow }}%</p>
                            <p><strong>Total Precipitation:</strong> {{ forecast.day.totalprecip_mm }} mm ({{ forecast.day.totalprecip_in }} inches)</p>
                            <p><strong>Total Snow:</strong> {{ forecast.day.totalsnow_cm }} cm</p>
                            <p><strong>Average Humidity:</strong> {{ forecast.day.avghumidity }}%</p>
                            <p><strong>Visibility:</strong> {{ forecast.day.avgvis_km }} km ({{ forecast.day.avgvis_miles }} miles)</p>
                        </div>
                        <div class="p2">
                            <br><br><br><br><br><br><br>
                            <p><strong>Sunrise:</strong> {{ forecast.astro.sunrise | convert_time }}</p>
                            <p><strong>Sunset:</strong> {{ forecast.astro.sunset | convert_time }}</p>
                            <p><strong>Moonrise:</strong> {{ forecast.astro.moonrise | convert_time }}</p>
                            <p><strong>Moonset:</strong> {{ forecast.astro.moonset | convert_time }}</p>
                            <p><strong>Moon Phase:</strong> {{ forecast.astro.moon_phase }} ({{ forecast.astro.moon_illumination }}% illumination)</p>
                        </div>
                    </div>
                    <br>
                    <h1>Air Quality</h1>
                    <br>
                </div>
                <div>
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Pollutant</th>
                                <th>Concentration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CO (Carbon Monoxide)</td>
                                <td>{{ forecast.day.air_quality.co }} µg/m³</td>
                            </tr>
                            <tr>
                                <td>NO₂ (Nitrogen Dioxide)</td>
                                <td>{{ forecast.day.air_quality.no2 }} µg/m³</td>
                            </tr>
                            <tr>
                                <td>O₃ (Ozone)</td>
                                <td>{{ forecast.day.air_quality.o3 }} µg/m³</td>
                            </tr>
                            <tr>
                                <td>SO₂ (Sulphur Dioxide)</td>
                                <td>{{ forecast.day.air_quality.so2 }} µg/m³</td>
                            </tr>
                            <tr>
                                <td>PM 2.5 (Particle polution)</td>
                                <td>{{ forecast.day.air_quality.pm2_5 }} µg/m³</td>
                            </tr>
                            <tr>
                                <td>PM 10 (Particle polution)</td>
                                <td>{{ forecast.day.air_quality.pm10 }} µg/m³</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text">
                    <br>
                    <h3>Air Quality Indexes:</h3>
                    <br>
                    <p><strong>US EPA Index:</strong> {{ forecast.day.air_quality['us-epa-index'] }} - 
                        {% if forecast.day.air_quality['us-epa-index'] == 1 %}
                            Good
                        {% elif forecast.day.air_quality['us-epa-index'] == 2 %}
                            Moderate
                        {% elif forecast.day.air_quality['us-epa-index'] == 3 %}
                            Unhealthy for sensitive group
                        {% elif forecast.day.air_quality['us-epa-index'] == 4 %}
                            Unhealthy
                        {% elif forecast.day.air_quality['us-epa-index'] == 5 %}
                            Very Unhealthy
                        {% else %}
                            Hazardous
                        {% endif %}
                    </p>
                    <p><strong>GB DEFRA Index:</strong> {{ forecast.day.air_quality['gb-defra-index'] }} - 
                        {% if 1 <= forecast.day.air_quality['gb-defra-index'] <= 3 %}
                            Low
                        {% elif 4 <= forecast.day.air_quality['gb-defra-index'] <= 6 %}
                            Moderate
                        {% elif 7 <= forecast.day.air_quality['gb-defra-index'] <= 9 %}
                            High
                        {% else %}
                            Very high
                        {% endif %}
                    </p>
                </div>
                <br>
                <h3>Hourly Forecast</h3>
                <br>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Time</th>
                                <th>Temperature (°C/°F)</th>
                                <th>Wind</th>
                                <th>Precipitation</th>
                                <th>Environment</th>
                                <th>Visibility and UV</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hour in forecast.hour %}
                            <tr>
                                <td>{{ hour.time | dt_time }}</td>
                                <td>{{ hour.temp_c }} ({{ hour.temp_f }})
                                    <br>
                                    Feels: {{ hour.feelslike_c }} ({{ hour.feelslike_f }})
                                    <br>
                                    Dew point: {{ hour.dewpoint_c }} ({{ hour.dewpoint_f }})
                                </td>
                                <td>{{ hour.wind_kph }} kph ({{ hour.wind_mph }} mph)
                                    <br>
                                    {{ hour.wind_degree }}º {{ hour.wind_dir }}
                                    <br>
                                    Gust: {{ hour.gust_kph }} kph ({{ hour.gust_mph }} mph)
                                </td>
                                <td>{{ hour.precip_mm }} mm ({{ hour.precip_in }} in)
                                    <br>
                                    Rain: {{ hour.chance_of_rain }}%
                                    <br>
                                    Snow: {{ hour.chance_of_snow }}% | {{ hour.snow_cm }} cm
                                </td>
                                <td>{{ hour.condition.text }}
                                    <br>
                                    Pressure: {{ hour.pressure_mb }} mb
                                    <br>
                                    Humidity: {{ hour.humidity }}%
                                    <br>
                                    Clouds: {{ hour.cloud }}%
                                </td>
                                <td>Visibility: {{ hour.vis_km }} km ({{ hour.vis_miles }} mi)
                                    <br>
                                    UV Index: {{ hour.uv }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="../static/weather.js"></script>

{% endblock %}